In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [25]:
df = pd.read_csv('../IPM_Dashboard/trapping_data_2023.csv')
df

        Date    Farm  ECB-E  ECB-Z  CEW  FAW  WBC
0     6/1/23     REM      0    0.0    0    0    0
1     6/1/23      SS      0    0.0    0    0    0
2     6/1/23     MAN      0    0.0    0    0    0
3     6/1/23    CURC      0    0.0    0    0    0
4     6/1/23    FREE      0    0.0    0    0    0
..       ...     ...    ...    ...  ...  ...  ...
226  9/12/23    THOR      0    1.0   27    0    0
227  9/12/23     ZIT      0    1.0   64    0    0
228  9/12/23  RUSH_2      0    0.0    1    0    0
229  9/12/23   KIR_2      1    1.0    2    0    0
230  9/12/23     HAR      0    0.0    8    0    1

[231 rows x 7 columns]

In [108]:
farms = pd.unique(df['Farm'])
farms = np.array(['REM', 'SS', 'MAN', 'FREE', 'HAT', 'MUS', 'FISH', 'RUSH',
       'AG', 'KIR', 'OLES', 'WH',
       'OLES_2', 'RUSH_2', 'KIR_2', 'MAN_2'])
farms

array(['REM', 'SS', 'MAN', 'FREE', 'HAT', 'MUS', 'FISH', 'RUSH', 'AG',
       'KIR', 'OLES', 'WH', 'OLES_2', 'RUSH_2', 'KIR_2', 'MAN_2'],
      dtype='<U6')

In [112]:
for farm in farms:     

    farm_df = df.loc[df['Farm'] == farm]

    fig, axs = plt.subplots(5, figsize=(8, 30))
    fig.suptitle('Sweet Corn Pheromone Trap Catches, 2023 - ' + farm, fontsize=16, y=0.9)

    axs[0].plot(farm_df['Date'], farm_df['ECB-E'])
    axs[0].set_ylim([0,45])
    axs[0].set_title('ECB-E')
    axs[0].tick_params(labelrotation=30)

    axs[1].plot(farm_df['Date'], farm_df['ECB-Z'])
    axs[1].set_ylim([0,45])
    axs[1].set_title('ECB-Z')
    axs[1].tick_params(labelrotation=30)

    axs[2].plot(farm_df['Date'], farm_df['CEW'])
    axs[2].set_ylim([0,45])
    axs[2].set_title('CEW')
    axs[2].tick_params(labelrotation=30)

    axs[3].plot(farm_df['Date'], farm_df['FAW'])
    axs[3].set_ylim([0,45])
    axs[3].set_title('FAW')
    axs[3].tick_params(labelrotation=30)

    axs[4].plot(farm_df['Date'], farm_df['WBC'])
    axs[4].set_ylim([0,45])
    axs[4].set_title('WBC')
    axs[4].tick_params(labelrotation=30)

    plt.savefig(farm + '_pest_count.png')

In [114]:
large_counts = ['CURC', 'FISH_2', 'HAR', 'SEN', 'THOR', 'ZIT']

for farm in large_counts:     

    farm_df = df.loc[df['Farm'] == farm]

    fig, axs = plt.subplots(5, figsize=(8, 30))
    fig.suptitle('Sweet Corn Pheromone Trap Catches, 2023 - ' + farm, fontsize=16, y=0.9)

    axs[0].plot(farm_df['Date'], farm_df['ECB-E'])
    axs[0].set_ylim([0,50])
    axs[0].set_title('ECB-E')
    axs[0].tick_params(labelrotation=30)

    axs[1].plot(farm_df['Date'], farm_df['ECB-Z'])
    axs[1].set_ylim([0,75])
    axs[1].set_title('ECB-Z')
    axs[1].tick_params(labelrotation=30)

    axs[2].plot(farm_df['Date'], farm_df['CEW'])
    axs[2].set_ylim([0,75])
    axs[2].set_title('CEW')
    axs[2].tick_params(labelrotation=30)

    axs[3].plot(farm_df['Date'], farm_df['FAW'])
    axs[3].set_ylim([0,50])
    axs[3].set_title('FAW')
    axs[3].tick_params(labelrotation=30)

    axs[4].plot(farm_df['Date'], farm_df['WBC'])
    axs[4].set_ylim([0,90])
    axs[4].set_title('WBC')
    axs[4].tick_params(labelrotation=30)

    plt.savefig(farm + '_pest_count.png')

In [87]:
farm_df

        Date Farm  ECB-E  ECB-Z  CEW  FAW  WBC
70    7/4/23  HAR      0    0.0    0    0    0
86   7/11/23  HAR      0    0.0    0    0    0
102  7/18/23  HAR      0    0.0    0    0    8
118  7/25/23  HAR      0    0.0    0    0   26
134   8/1/23  HAR      0    0.0    0    0   83
150   8/8/23  HAR      0    0.0    0    0   49
166  8/15/23  HAR      0    3.0    0    0   19
182  8/22/23  HAR      0    2.0    1    0    2
198  8/29/23  HAR      0    0.0    0    0    1
214   9/5/23  HAR      0    0.0    4    0    0
230  9/12/23  HAR      0    0.0    8    0    1