In [3]:
import pandas as pd
import numpy as np

In [15]:
landscape_cat = {
    "ag": [
        "Corn",
        "Cotton",
        "Rice",
        "Sorghum",
        "Soybeans",
        "Sunflower",
        "Peanuts",
        "Tobacco",
        "Sweet Corn",
        "Pop or Orn Corn",
        "Mint",
        "Barley",
        "Durum Wheat",
        "Spring Wheat",
        "Winter Wheat",
        "Other Small Grains",
        "Dbl Crop WinWht/Soybeans",
        "Rye",
        "Oats",
        "Millet",
        "Speltz",
        "Canola",
        "Flaxseed",
        "Safflower",
        "Rape Seed",
        "Mustard",
        "Alfalfa",
        "Other Hay/Non Alflafa",
        "Camelina",
        "Buckwheat",
        "Sugarbeets",
        "Dry Beans",
        "Potatoes",
        "Other Crops",
        "Sugarcane",
        "Sweet Potatoes",
        "Misc Vegs & Fruits",
        "Watermelons",
        "Onions",
        "Cucumbers",
        "Chick Peas",
        "Lentils",
        "Peas",
        "Tomatoes",
        "Caneberries",
        "Hops",
        "Herbs",
        "Clover/Wildflowers",
        "Sod/Grass Seed",
        "Switchgrass",
        "Cherries",
        "Peaches",
        "Apples",
        "Grapes",
        "Christmas Trees",
        "Other Tree Crops",
        "Citrus",
        "Pecans",
        "Almonds",
        "Walnuts",
        "Pears",
        "Pistachios",
        "Triticale",
        "Carrots",
        "Asparagus",
        "Garlic",
        "Cantaloupes",
        "Prunes",
        "Olives",
        "Oranges",
        "Honeydew Melons",
        "Broccoli",
        "Avocados",
        "Peppers",
        "Pomegranates",
        "Nectarines",
        "Greens",
        "Plums",
        "Strawberries",
        "Squash",
        "Apricots",
        "Vetch",
        "Dbl Crop WinWht/Corn",
        "Dbl Crop Oats/Corn",
        "Lettuce",
        "Dbl Crop Triticale/Corn",
        "Pumpkins",
        "Dbl Crop Lettuce/Durum Wht",
        "Dbl Crop Lettuce/Cantaloupe",
        "Dbl Crop Lettuce/Cotton",
        "Dbl Crop Lettuce/Barley",
        "Dbl  Crop Durum Wht/Sorghum",
        "Dbl Crop Barley/Sorghum",
        "Dbl Crop WinWht/Sorghum",
        "Dbl Crop Barley/Corn",
        "Dbl Crop WinWht/Cotton",
        "Dbl Crop Soybeans/Cotton",
        "Dbl Crop Soybeans/Oats",
        "Dbl Crop Corn/Soybeans",
        "Blueberries",
        "Cabbage",
        "Cauliflower",
        "Celery",
        "Radishes",
        "Turnips",
        "Eggplants",
        "Gourds",
        "Cranberries",
        "Dbl Crop Barley/Soybeans",
    ],
    "nat": [
        "Cropland",
        "Forest",
        "Shrubland",
        "Barren",
        "Wetlands",
        "Nonag/Undefined",
        "Deciduous Forest",
        "Evergreen Forest",
        "Mixed Forest",
        "Shrubland",
        "Woody Wetlands",
        "Herbaceous Wetlands",
    ],
    "semi_nat": ["Grassland/Pasture"],
    "dev": [
        "Developed/Open Space",
        "Developed/Low Intensity",
        "Developed/Med Intensity",
        "Developed/High Intensity",
        "Barren",
    ],
    "other": [
        "Aquaculture",
        "Water",
        "Perennial Ice/Snow",
    ],
}

In [ ]:
def cdl_processing(cdl_metadata, qgis_csv):
    metadata = pd.read_csv(cdl_metadata)
    qgis_df = pd.read_csv(qgis_csv)
    metadata["cdl_number"] = "VALUE_" + metadata["cdl_number"].astype("str")
    qgis_df.rename(
        columns=metadata.set_index("cdl_number")["cdl_classification"], inplace=True
    )
    qgis_df = qgis_df.drop(
        [
            "descriptio",
            "timestamp",
            "begin",
            "end",
            "altitudeMo",
            "tessellate",
            "extrude",
            "visibility",
            "drawOrder",
            "icon",
        ],
        axis=1,
    )
    qgis_df["Total"] = qgis_df.sum(axis=1, numeric_only=True)

In [4]:
metadata = pd.read_csv("../Long_Term_Pest_Data/Landscape/CDL_Metadata_NY_2022.csv")
metadata["cdl_number"] = "VALUE_" + metadata["cdl_number"].astype("str")
metadata

    cdl_number        cdl_classification
0      VALUE_1                      Corn
1      VALUE_2                    Cotton
2      VALUE_3                      Rice
3      VALUE_4                   Sorghum
4      VALUE_5                  Soybeans
..         ...                       ...
128  VALUE_247                   Turnips
129  VALUE_248                 Eggplants
130  VALUE_249                    Gourds
131  VALUE_250               Cranberries
132  VALUE_254  Dbl Crop Barley/Soybeans

[133 rows x 2 columns]

In [11]:
list(metadata["cdl_classification"])

['Corn',
 'Cotton',
 'Rice',
 'Sorghum',
 'Soybeans',
 'Sunflower',
 'Peanuts',
 'Tobacco',
 'Sweet Corn',
 'Pop or Orn Corn',
 'Mint',
 'Barley',
 'Durum Wheat',
 'Spring Wheat',
 'Winter Wheat',
 'Other Small Grains',
 'Dbl Crop WinWht/Soybeans',
 'Rye',
 'Oats',
 'Millet',
 'Speltz',
 'Canola',
 'Flaxseed',
 'Safflower',
 'Rape Seed',
 'Mustard',
 'Alfalfa',
 'Other Hay/Non Alflafa',
 'Camelina',
 'Buckwheat',
 'Sugarbeets',
 'Dry Beans',
 'Potatoes',
 'Other Crops',
 'Sugarcane',
 'Sweet Potatoes',
 'Misc Vegs & Fruits',
 'Watermelons',
 'Onions',
 'Cucumbers',
 'Chick Peas',
 'Lentils',
 'Peas',
 'Tomatoes',
 'Caneberries',
 'Hops',
 'Herbs',
 'Clover/Wildflowers',
 'Sod/Grass Seed',
 'Switchgrass',
 'Cropland',
 'Forest',
 'Shrubland',
 'Barren',
 'Cherries',
 'Peaches',
 'Apples',
 'Grapes',
 'Christmas Trees',
 'Other Tree Crops',
 'Citrus',
 'Pecans',
 'Almonds',
 'Walnuts',
 'Pears',
 'Data',
 'Developed',
 'Water',
 'Wetlands',
 'Nonag/Undefined',
 'Aquaculture',
 'Water',
 'Perennial Ice/Snow',
 'Developed/Open Space',
 'Developed/Low Intensity',
 'Developed/Med Intensity',
 'Developed/High Intensity',
 'Barren',
 'Deciduous Forest',
 'Evergreen Forest',
 'Mixed Forest',
 'Shrubland',
 'Grassland/Pasture',
 'Woody Wetlands',
 'Herbaceous Wetlands',
 'Pistachios',
 'Triticale',
 'Carrots',
 'Asparagus',
 'Garlic',
 'Cantaloupes',
 'Prunes',
 'Olives',
 'Oranges',
 'Honeydew Melons',
 'Broccoli',
 'Avocados',
 'Peppers',
 'Pomegranates',
 'Nectarines',
 'Greens',
 'Plums',
 'Strawberries',
 'Squash',
 'Apricots',
 'Vetch',
 'Dbl Crop WinWht/Corn',
 'Dbl Crop Oats/Corn',
 'Lettuce',
 'Dbl Crop Triticale/Corn',
 'Pumpkins',
 'Dbl Crop Lettuce/Durum Wht',
 'Dbl Crop Lettuce/Cantaloupe',
 'Dbl Crop Lettuce/Cotton',
 'Dbl Crop Lettuce/Barley',
 'Dbl  Crop Durum Wht/Sorghum',
 'Dbl Crop Barley/Sorghum',
 'Dbl Crop WinWht/Sorghum',
 'Dbl Crop Barley/Corn',
 'Dbl Crop WinWht/Cotton',
 'Dbl Crop Soybeans/Cotton',
 'Dbl Crop Soybeans/Oats',
 'Dbl Crop Corn/Soybeans',
 'Blueberries',
 'Cabbage',
 'Cauliflower',
 'Celery',
 'Radishes',
 'Turnips',
 'Eggplants',
 'Gourds',
 'Cranberries',
 'Dbl Crop Barley/Soybeans']

In [45]:
qgis_df = pd.read_csv(
    "../Long_Term_Pest_Data/Landscape/CDL_2022_Chloe_Sites/2023_1km_cdl_output.csv"
)
qgis_df

,Name,descriptio,timestamp,begin,end,altitudeMo,tessellate,extrude,visibility,drawOrder,...,VALUE_190,VALUE_195,VALUE_205,VALUE_206,VALUE_216,VALUE_222,VALUE_228,VALUE_242,VALUE_243,VALUE_244
0,HAT,NaN,NaN,NaN,NaN,NaN,-1,0,-1,NaN,...,128,2,1,0,0,1,2,0,0,0
1,MUS,NaN,NaN,NaN,NaN,NaN,-1,0,-1,NaN,...,31,6,0,0,0,0,11,0,0,0
2,REM,NaN,NaN,NaN,NaN,NaN,-1,0,-1,NaN,...,62,3,3,0,0,3,0,0,4,0
3,SS,NaN,NaN,NaN,NaN,NaN,-1,0,-1,NaN,...,36,1,5,0,0,0,0,0,0,0
4,MAN,NaN,NaN,NaN,NaN,NaN,-1,0,-1,NaN,...,43,17,0,0,0,0,0,0,0,0
5,CURC,NaN,NaN,NaN,NaN,NaN,-1,0,-1,NaN,...,29,4,2,0,0,0,0,0,0,0
6,FREE,NaN,NaN,NaN,NaN,NaN,-1,0,-1,NaN,...,289,9,3,0,0,0,0,1,0,0
7,FISH,NaN,NaN,NaN,NaN,NaN,-1,0,-1,NaN,...,796,5,0,0,0,0,0,0,1,0
8,RUSH,NaN,NaN,NaN,NaN,NaN,-1,0,-1,NaN,...,475,12,2,0,1,0,0,0,0,0
9,AG,NaN,NaN,NaN,NaN,NaN,-1,0,-1,NaN,...,119,24,0,0,0,2,1,0,7,37
10,KIR,NaN,NaN,NaN,NaN,NaN,-1,0,-1,NaN,...,966,14,4,1,0,1,2,1,9,0
11,OLES,NaN,NaN,NaN,NaN,NaN,-1,0,-1,NaN,...,1037,1,1,0,0,0,0,0,0,0
12,SEN,NaN,NaN,NaN,NaN,NaN,-1,0,-1,NaN,...,482,0,0,0,0,0,0,0,0,0
13,THOR,NaN,NaN,NaN,NaN,NaN,-1,0,-1,NaN,...,174,28,1,0,0,0,0,0,0,0
14,WH,NaN,NaN,NaN,NaN,NaN,-1,0,-1,NaN,...,26,8,0,0,0,0,1,0,0,0
15,HAR,NaN,NaN,NaN,NaN,NaN,-1,0,-1,NaN,...,807,0,0,0,0,0,9,0,0,0
16,FISH_2,NaN,NaN,NaN,NaN,NaN,-1,0,-1,NaN,...,525,5,1,0,0,1,0,0,0,0
17,RUSH_2,NaN,NaN,NaN,NaN,NaN,-1,0,-1,NaN,...,395,14,2,0,1,0,0,0,0,0
18,OLES_2,NaN,NaN,NaN,NaN,NaN,-1,0,-1,NaN,...,799,1,1,0,0,0,0,0,0,0
19,ZIT,NaN,NaN,NaN,NaN,NaN,-1,0,-1,NaN,...,158,8,0,0,0,0,0,0,0,28

In [46]:
qgis_df.rename(
    columns=metadata.set_index("cdl_number")["cdl_classification"], inplace=True
)

In [47]:
qgis_df = qgis_df.drop(
    [
        "descriptio",
        "timestamp",
        "begin",
        "end",
        "altitudeMo",
        "tessellate",
        "extrude",
        "visibility",
        "drawOrder",
        "icon",
    ],
    axis=1,
)

In [48]:
qgis_df["Total"] = qgis_df.sum(axis=1, numeric_only=True)

In [49]:
qgis_df

,Name,Corn,Sorghum,Soybeans,Sweet Corn,Barley,Spring Wheat,Winter Wheat,Rye,Oats,...,Herbaceous Wetlands,Triticale,Carrots,Peppers,Squash,Dbl Crop Triticale/Corn,Blueberries,Cabbage,Cauliflower,Total
0,HAT,161,1,422,8,0,0,47,0,1,...,2,1,0,0,1,2,0,0,0,3464
1,MUS,684,0,1029,1,2,0,142,1,2,...,6,0,0,0,0,11,0,0,0,3464
2,REM,372,8,570,15,1,0,121,1,123,...,3,3,0,0,3,0,0,4,0,3468
3,SS,349,1,620,4,1,0,199,7,7,...,1,5,0,0,0,0,0,0,0,3463
4,MAN,52,0,33,8,0,0,4,0,6,...,17,0,0,0,0,0,0,0,0,3463
5,CURC,1185,0,234,1,1,0,4,1,2,...,4,2,0,0,0,0,0,0,0,3467
6,FREE,180,0,66,4,0,1,11,2,9,...,9,3,0,0,0,0,1,0,0,3462
7,FISH,270,0,495,1,0,0,222,0,1,...,5,0,0,0,0,0,0,1,0,3467
8,RUSH,240,0,922,1,0,0,109,0,0,...,12,2,0,1,0,0,0,0,0,3471
9,AG,1069,0,135,24,0,0,5,0,8,...,24,0,0,0,2,1,0,7,37,3473
10,KIR,200,0,132,13,0,0,11,0,0,...,14,4,1,0,1,2,1,9,0,3466
11,OLES,133,0,21,0,0,0,2,0,1,...,1,1,0,0,0,0,0,0,0,3473
12,SEN,746,0,920,9,0,0,85,1,0,...,0,0,0,0,0,0,0,0,0,3472
13,THOR,248,0,118,0,0,0,65,0,22,...,28,1,0,0,0,0,0,0,0,3470
14,WH,56,0,125,0,2,101,15,0,3,...,8,0,0,0,0,1,0,0,0,3464
15,HAR,720,0,256,485,0,0,157,1,0,...,0,0,0,0,0,9,0,0,0,3468
16,FISH_2,396,0,345,6,0,0,30,0,5,...,5,1,0,0,1,0,0,0,0,3464
17,RUSH_2,213,0,893,1,0,0,104,0,0,...,14,2,0,1,0,0,0,0,0,3471
18,OLES_2,196,0,25,0,0,0,3,0,1,...,1,1,0,0,0,0,0,0,0,3477
19,ZIT,604,0,79,15,0,0,3,0,7,...,8,0,0,0,0,0,0,0,28,3464