In [7]:
import pandas as pd

In [11]:
# Read CSV file. 

pest_df = pd.read_csv('NYSIPM_Sweet_Corn_1993_2022.csv')
pest_df

,Site,USDA hardiness Zone,Lat,Lat-Decimal,Long,Long-Decimal,Year,Week,Date,ECB-E,ECB-Z,CEW,FAW,WBC
0,Accord,6a,"41°46'56.41""N",41.782336,"74°14'44.28""W",-74.245633,2021,21,5/25/21,NaN,NaN,NaN,NaN,NaN
1,Accord,6a,"41°46'56.41""N",41.782336,"74°14'44.28""W",-74.245633,2021,22,6/1/21,NaN,NaN,NaN,NaN,NaN
2,Accord,6a,"41°46'56.41""N",41.782336,"74°14'44.28""W",-74.245633,2021,23,6/8/21,NaN,NaN,NaN,NaN,NaN
3,Accord,6a,"41°46'56.41""N",41.782336,"74°14'44.28""W",-74.245633,2021,24,6/15/21,NaN,NaN,NaN,NaN,NaN
4,Accord,6a,"41°46'56.41""N",41.782336,"74°14'44.28""W",-74.245633,2021,25,6/22/21,0,0,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12507,Williamson,6b,"43°14'21.11""N",43.239197,"77°13'32.10""W",-77.225583,2022,35,8/30/22,0,0,39,0,0
12508,Williamson,6b,"43°14'21.11""N",43.239197,"77°13'32.10""W",-77.225583,2022,36,9/6/22,0,0,36,0,0
12509,Williamson,6b,"43°14'21.11""N",43.239197,"77°13'32.10""W",-77.225583,2022,37,9/13/22,0,0,22,0,0
12510,Williamson,6b,"43°14'21.11""N",43.239197,"77°13'32.10""W",-77.225583,2022,38,9/20/22,,,,,
12511,Williamson,6b,"43°14'21.11""N",43.239197,"77°13'32.10""W",-77.225583,2022,39,9/27/22,,,,,

In [15]:
# Subset columns from original dataframe. 

pest_df = pest_df[['Site', 
                   'Lat-Decimal', 
                   'Long-Decimal', 
                   'Year', 
                   'Week',
                   'Date',
                   'ECB-E',
                   'ECB-Z',
                   'CEW',
                   'FAW',
                   'WBC']]

pest_df

,Site,Lat-Decimal,Long-Decimal,Year,Week,Date,ECB-E,ECB-Z,CEW,FAW,WBC
0,Accord,41.782336,-74.245633,2021,21,5/25/21,NaN,NaN,NaN,NaN,NaN
1,Accord,41.782336,-74.245633,2021,22,6/1/21,NaN,NaN,NaN,NaN,NaN
2,Accord,41.782336,-74.245633,2021,23,6/8/21,NaN,NaN,NaN,NaN,NaN
3,Accord,41.782336,-74.245633,2021,24,6/15/21,NaN,NaN,NaN,NaN,NaN
4,Accord,41.782336,-74.245633,2021,25,6/22/21,0,0,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
12507,Williamson,43.239197,-77.225583,2022,35,8/30/22,0,0,39,0,0
12508,Williamson,43.239197,-77.225583,2022,36,9/6/22,0,0,36,0,0
12509,Williamson,43.239197,-77.225583,2022,37,9/13/22,0,0,22,0,0
12510,Williamson,43.239197,-77.225583,2022,38,9/20/22,,,,,
12511,Williamson,43.239197,-77.225583,2022,39,9/27/22,,,,,

In [28]:
pest_df['Site'] = pest_df['Site'].astype('category')

In [38]:
pest_df['Date'] = pd.to_datetime(pest_df['Date'])
pest_df['Day'] = pest_df[ "Date"].dt.dayofyear

In [39]:
pest_df

,Site,Lat-Decimal,Long-Decimal,Year,Week,Date,ECB-E,ECB-Z,CEW,FAW,WBC,Day
0,Accord,41.782336,-74.245633,2021,21,2021-05-25,NaN,NaN,NaN,NaN,NaN,145
1,Accord,41.782336,-74.245633,2021,22,2021-06-01,NaN,NaN,NaN,NaN,NaN,152
2,Accord,41.782336,-74.245633,2021,23,2021-06-08,NaN,NaN,NaN,NaN,NaN,159
3,Accord,41.782336,-74.245633,2021,24,2021-06-15,NaN,NaN,NaN,NaN,NaN,166
4,Accord,41.782336,-74.245633,2021,25,2021-06-22,0,0,0,NaN,NaN,173
...,...,...,...,...,...,...,...,...,...,...,...,...
12507,Williamson,43.239197,-77.225583,2022,35,2022-08-30,0,0,39,0,0,242
12508,Williamson,43.239197,-77.225583,2022,36,2022-09-06,0,0,36,0,0,249
12509,Williamson,43.239197,-77.225583,2022,37,2022-09-13,0,0,22,0,0,256
12510,Williamson,43.239197,-77.225583,2022,38,2022-09-20,,,,,,263
12511,Williamson,43.239197,-77.225583,2022,39,2022-09-27,,,,,,270

In [32]:
pd.melt(pest_df, id_vars = ['Site', 
                            'Lat-Decimal', 
                            'Long-Decimal',
                            'Year', 
                            'Week', 
                            'Date', 
                            'Day'], 
                 value_vars = ['ECB.E', 
                                 'ECB.Z',
                                 'CEW', 
                                 'FAW', 
                                 'WBC'])

KeyError: "The following 'id_vars' are not present in the DataFrame: ['Day']"